services:
  postgres:
    image: postgres:18
    env_file:
      - .env.dev
    volumes:
      - pgdata:/var/lib/postgresql
    networks:
      - appnet
  api:
    build:
      context: ./api
      target: dev
    command: cargo run
    volumes:
      - ./api:/api
      - cargo-cache:/usr/local/cargo
    env_file: .env.dev
    depends_on:
      - postgres
    networks:
      - appnet
  frontend:
    build:
      context: ./frontend
      target: dev
    env_file: .env.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - api
    networks:
      - appnet
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/dev.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - api
    networks:
      - appnet

volumes:
  pgdata:

networks:
  appnet:
