services:
  postgres:
    image: pgvector/pgvector:pg18
    env_file:
      - .env.dev
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "127.0.0.1:5432:5432"
    networks:
      - appnet
  api:
    build:
      context: ./api
      target: dev
    command: cargo run
    env_file: .env.dev
    environment:
      - CARGO_TARGET_DIR=/cargo/target
    volumes:
      - ./api:/api
      - uploads:/srv/uploads
      - hf_cache:/root/.cache/huggingface
    depends_on:
      - postgres
    networks:
      - appnet
  frontend:
    build:
      context: ./frontend
      target: dev
    env_file: .env.dev
    volumes:
      - ./frontend:/app
    depends_on:
      - api
    networks:
      - appnet
  nginx:
    build:
      context: ./nginx
      args:
        ENV: dev
    ports:
      - "80:80"
    volumes:
      - ./nginx/dev.conf:/etc/nginx/nginx.conf:ro
      - uploads:/srv/uploads:ro
    depends_on:
      - frontend
      - api
    networks:
      - appnet

volumes:
  pgdata:
  cargo-cache:
  uploads:
  hf_cache:

networks:
  appnet:
