services:
  postgres:
    image: postgres:18
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "127.0.0.1:5432:5432"
    networks:
      - appnet
  api:
    build:
      context: ./api
    env_file: .env
    depends_on:
      - postgres
    networks:
      - appnet
  frontend:
    build:
      context: ./frontend
      target: prod
    env_file: .env
    depends_on:
      - api
    networks:
      - appnet
  nginx:
    build:
      context: ./nginx
      args:
        ENV: prod
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - api
    networks:
      - appnet

volumes:
  pgdata:

networks:
  appnet:
