@import "tailwindcss";

@theme {
  --color-primary: #204346;
  --color-secondary: #a1e9f0;
  --color-support: #a5c3c5;
  --color-third: #476d70;
  --color-light: #f7f9f9;
  --color-dark: #333333;
  --color-danger: #bf2417;
}
body {
  background: var(--color-primary);
  font-family: "Poppins", sans-serif;
}

/* Scroll bar styling */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-third);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-support);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-third);
}
