@import "tailwindcss";

@theme {
  --color-primary: #204346;
  --color-secondary: #a1e9f0;
  --color-support: #a5c3c5;
  --color-third: #476d70;
  --color-light: #f7f9f9;
  --color-dark: #333333;
  --color-danger: #bf2417;
}
html,
body {
  cursor:
    url("/cursors/default.png") 16 16,
    auto;
}
.cursor-pointer {
  cursor:
    url("/cursors/pointer.png") 16 16,
    pointer;
}
body {
  background: var(--color-primary);
}
